.sidebar {
    background-color: #8e8e8e;
    padding: 20px;
    display: flex;
    position: absolute;
    top: 10%;
    left: 0;
    height: 100%;
    align-items: center;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin-bottom: 20px;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #668dff;
  }

  .active-link {
    color: red;
  }

  .sidebar-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    
  }
 