.sidebar {
    background-color: rgba(142, 142, 142, 0.7);
    padding: 20px;
    display: flex;
    position: absolute;
    height: 250px;
    top: 167px;
    left: 0;
    align-items: center;
    border-radius: 0 20px 20px 0;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin: 20px 0;
  }
  
  .sidebar ul li a {
    text-decoration: none;
    color: #668dff;
    font-weight: bold;
  }

  /* .active-link {
    color: red;
  } */

  .sidebar-btn {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #668dff;
    background-color: #fff;
  }
 