@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0 50px;
  background-image: linear-gradient(
    45deg,
    rgb(102, 141, 255),
    rgba(255, 216, 102)
  );
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Container {
  background: #668dff;
  width: 600px;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 20px;
  color: #fff;
}

.input {
  width: 420px;
  border: none;
  border-radius: 20px;
  padding: 11px 20px;
  margin-top: 16px;
  margin-bottom: 32px;
  color: #000000;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #8e8e8e;
}

.todo-btn {
  background: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  color: #668dff;
}

.List {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #668dff;
  padding: 10px 16px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.Form {
  width: 100%;
  margin-bottom: 16px;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #8e8e8e;
  text-decoration: line-through;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
